$primary-color: #fff;
/* Color Theme Swatches in Hex */
$one: rgba(39,72,140, 1);
$two:  rgba(155,201,242, 1);
$three:  rgba(181,219,242, 1);
$four:  rgba(242,172,87, 1);
$five: rgba(191,162,128, 1);


/* Color Theme Swatches in RGBA */






