.shop button{
    background-color: $five;
    margin: 25px 0;
    color: $primary;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    grid-column: 3/4;
    grid-row: 1/2;
    &:hover{
        background-color: $two;
    }
}
