.pokemonField{
    width: 80vw;
    height: 500px;
    background-color: $four;
    padding: 10px;
    margin: 20px auto;
}
.battle__tittle{
    color: $secondary;
    text-align: center;
    margin: 100px auto;
}
.battle__button{
    background-color: #008CBA; 
    border: none;
    color: $primary;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto;
    transition-duration: 0.4s;
    cursor: pointer;
    &:hover{
        background-color: $primary; 
        color: $secondary; 
        border: 2px solid #008CBA;
    }
}

